body{
  max-width: 100%;
  max-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper {
  display: flex;
  padding: 3vh;
}

@keyframes main__blink {
  0% {box-shadow: 0.2vh  0.2vh 3vh 0px #2acece;}
  50% {box-shadow: 0rem 0rem 1vh 0px #2acece;}
  100% {box-shadow: 0.2vh 0.2vh 3vh 0px #2acece;}
}

.main__conteiner {
  margin: auto;
  min-width: 50vw;
  min-height: 600px;
  padding: 5vh 0vw;
  border: 0.05rem solid #34ffff;
  border-radius: 3vw;
  box-shadow: 0.2vh 0.2vh 3vh 0px #2acece;
  display: flex;
  flex-direction: column;
  gap: 3%;
  animation: main__blink 4s infinite;
  transition: 2s;
}

.conteiner_under_history {
  min-height: 500px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  gap: 3%;
}


@media (max-width: 600px) {
  .main__conteiner {
    max-width: 90vw;
  }
}
.result__sum {
  margin: 0 auto;
  width: 90% ;
  height: 100%;
  border: 0.05rem solid #34ffaa;
  border-radius: 2vh;;
  min-height: 15%;
  background-size: 15%;
  text-align: center;
  font-size: 4rem;
  line-height: 250%;
  transition: .5s;
}

.blink {
  box-shadow: 0rem 0rem 1rem 0px #34ffaa;
}

.main__head {
  margin: 0 auto;
  width: 90% ;
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  gap: 5%;
}
.button {
  width: 100%;
  line-height:30px;
  font-size: 100%;
  border: 0.05rem solid #34ffff;
  border-radius: 2vh;;
  min-height: 100%;
  background-size: 25%;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
}

.button:hover {
  box-shadow: 0rem 0rem 1rem 0px #2acece;
}
.equally {
  background-image: url(../icons/math-equal-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main__body {
  margin: 0 auto;
  width: 90% ;
  height: 100%;
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 5%;
}
.plus {
  background-image: url(../icons/math-plus-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.minus {
  background-image: url(../icons/math-minus-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main__footer {
  margin: 0 auto;
  width: 90% ;
  min-height: 100%;
}

.history {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 300%;
}

.history__list {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 6vh
}

.history__item {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
}
.number__conteiner {
  font-size: 50%;
  text-align: center;
  border-radius: 2vh;;
  border: 0.05rem solid #34ffff;
  min-width: 10vw;
  min-height: 5vh;
  line-height: 200%;
}
.operation {
  border-radius: 2vh;;
  border: 0.05rem solid #34ffff;
  background-size: 4vh;
}


.history__result {
  font-size: 50%;
  text-align: center;
  border-radius: 2vh;;
  border: 0.05rem solid #34ffff;
  min-width: 10vw;
  min-height: 5vh;
  line-height: 200%;
}

